@using Bizland.Models

@model Card
@{
    ViewData["Title"] = "Update";
}

<div class="card-body">
    <h4 class="card-title">Edit Cart</h4>

    <form class="forms-sample" enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" placeholder="Name">
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Job">Job</label>
            <input class="form-control" asp-for="Job" placeholder="Job">
            <span class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-warning me-2">Edit</button>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>
</div>

